*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #111827;
}

.container {
  max-width: 1246px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-sm {
  max-width: 1008px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}
.btn {
  border-radius: 6px;
  font-weight: 500;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.header {
  top: 42px;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}

.apps {
  display: flex;
  gap: 12px;
}
.apps a {
  display: inline-flex;
}

.navbar .logo {
  margin-right: 32px;
}

.navbar .links {
  display: flex;
  margin-right: auto;
  list-style: none;
  gap: 8px;
  text-align: center;
}

.navbar .links a {
  text-decoration: none;
  color: #111827;
  font-weight: 600;
  padding: 4px 8px;
  font-size: 12px;
  transition: 0.2s ease;
  display: inline-flex;
}

.navbar .links a:hover {
  color: #7c3aed;
}

/* Hamburger menu styles */
#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #7c3aed;
  cursor: pointer;
  display: none;
  order: 1;
}

@media screen and (max-width: 768px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }
  .apps {
    margin-left: auto;
  }
  .links {
    position: fixed;
    left: -100%;
    top: 84px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    transition: 0.3s ease;
    background-color: #fff;
  }
  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }
  .navbar #hamburger-btn {
    display: block;
    margin-left: 16px;
  }
  .header .buttons {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .header {
    top: 0;
  }
  .navbar {
    justify-content: space-between;
  }
  .links {
    top: 76px;
  }
  .apps {
    display: none;
  }
}
.header {
  background-image: url(./images/Background-desktop.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.section-hero {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 72px 0 74px 0;
}
.section-hero .content {
  max-width: 696px;
}
.section-hero h1 {
  font-size: 60px;
  padding-bottom: 16px;
  padding-top: 96px;
}
.section-hero p {
  font-size: 18px;
  color: #374151;
  line-height: 28px;
}
.section-hero .buttons {
  padding-top: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-hero .buttons .btn-primary {
  background-color: #7c3aed;
  color: #fff;
}
.section-hero .buttons .btn-white {
  color: #7c3aed;
}

@media screen and (max-width: 992px) {
  .header {
    background-image: url(./images/Background-tablet.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .section-hero {
    flex-direction: column;
    padding: 80px 0 80px 0;
    align-items: center;
    gap: 80px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .header .section-hero {
    text-align: start;
  }
  .header .section-hero h1 {
    font-size: 48px;
    padding-top: 0;
  }
}
@media screen and (max-width: 576px) {
  .header {
    background-image: url(./images/Background-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .section-hero {
    flex-direction: column;
    align-items: center;
    padding: 40px 0 80px 0;
    gap: 80px;
  }
  .section-hero h1 {
    font-size: 36px;
  }
}
.section-clients {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #E5E7EB;
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 10rem;
}
.section-clients .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

@media screen and (max-width: 992px) {
  .section-clients .content {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=main.css.map */
