// Aici punem toate stilurile pentru sectiuni

.header {
  background-image: url(./images/Background-desktop.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.section-hero {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 72px 0 74px 0;

  .content {
    max-width: 696px;
  }

  h1 {
    font-size: 60px;
    padding-bottom: 16px;
    padding-top: 96px;
  }
  p {
    font-size: 18px;
    color: $color-neutral-700;
    line-height: 28px;
  }

  .buttons {
    padding-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    .btn-primary {
      background-color: $color-primary;
      color: $color-white;
    }

    .btn-white {
      color: $color-primary;
    }
  }
}
@media screen and (max-width: 992px) {
  .header {
    background-image: url(./images/Background-tablet.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-hero {
    flex-direction: column;
    padding: 80px 0 80px 0;
    align-items: center;
    gap: 80px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .section-hero {
      text-align: start;
    }
    h1 {
      font-size: 48px;
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    background-image: url(./images/Background-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-hero {
    flex-direction: column;
    align-items: center;
    padding: 40px 0 80px 0;
    gap: 80px;

    h1 {
      font-size: 36px;
    }
  }
}

.section-clients {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid $color-neutral-200;
  border-bottom: 1px solid $color-neutral-200;
  margin-bottom: 10rem;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
}

@media screen and (max-width: 992px) {
  .section-clients {
    .content {
      flex-wrap: wrap;
    }
  }
}
