// Aici punem stilurile pentru elementele care se repeta in pagina
.container {
  max-width: 1216px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-sm {
  max-width: 1008px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
