// Aici punem stilurile pentru elementele care se repeta in pagina

.container {
  max-width: 1246px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.container-xl {
  width: 100%;
}

.container-sm {
  max-width: 1008px;
  margin: 0 auto;
}

.container-md {
  max-width: 1216px;
  margin: 0 15px 0 15px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .container-md {
    margin: 0 40px 0 40px;
  }

  .container-sm {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .container-md {
    margin: 0 20px 0 20px;
  }

  .container-sm {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1216px) {
  .container-md {
    max-width: 1246px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
