// COLORS
$color-primary: #7c3aed;
$color-primary-light: #ede9fe;

$color-secondary: #1db5be;

$color-neutral-900: #111827;
$color-neutral-700: #374151;
$color-neutral-500: #6b7280;

$color-white: #fff;
$color-black: #000;
